body{
    font-size: 1.8em;
    font-family: "Calibri";
    background-color: #BAD6E5;
    text-align: center;
}

main{
    background-color: #eeeeee;
    width: 600px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 5px solid #006699;
}

label{
    margin-right: 30px;
}

h1{
    font-family: "Arial Narrow";
    font-size: 2em;
    padding: 50px 0px 20px 0px;
    color: #006699;
    margin: 0px;
}

#startMemory{
    padding: 5px 20px 5px 20px;
    font-size: 1em;
    background-color: #006699;
    color: #ffffff;
    cursor: pointer;
}

form{
    margin-bottom: 50px;
    padding-bottom: 50px;
}

input[type='radio'] {
    transform: scale(2);
    cursor: pointer;
}

#memoryField{
    width: 600px;
    height: 100px;
    margin: auto;
}

#memoryField div{
    background: #cccccc;
    width: 120px;
    height: 100px;
    margin: 5px;
    padding: 25px 5px 5px 5px;
    border: 4px solid #006699;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}

.hide{
    display: none;
    border-radius: 10px;
}

.show{
    display: block;
}

.match{
    visibility: hidden;
}